<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Complete View</title>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
    <script src="../resources/JavaScript/pie.js"></script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>


    <style>

    #chart {
      max-width: 650px;
      margin: 35px auto;
    }


  </style>

    <script>
    // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
    // Based on https://gist.github.com/blixt/f17b47c62508be59987b
    var _seed = 42;
    Math.random = function() {
      _seed = _seed * 16807 % 2147483647;
      return (_seed - 1) / 2147483646;
    };
    </script>
</h:head>

<style type="text/css">
    #chart {
      max-width: 650px;
      margin: 35px auto;
    }

    .value {
        font-weight: bold;
    }
    .ui-toggleswitch {
        vertical-align: bottom;
    }
    .ui-widget-header {
    background-color: #ffffff;
    background: white;
    color: #517DBA;
    text-align: center;
    border: 0px;
    }
    .ui-grid {
        border-radius: 40px;
        border-width: 2px;
        border-color: #5A658D;
    }

    </style>
<h:body>
    <h:form id="completeView">
        <h:panelGrid id="main" columns="2" style="margin-bottom:10px; width: 100%; align: center" cellpading="7">
            <h:panelGrid id="total" columns="7" cellpading="7">
                <h:outputText value="Total tickets:" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-right:2em"/>
                <h:outputText value="#{generalDashboardViewBean.totalVehiclesAndPassengers}" style="font-weight:bold; display: block; width:100%; text-align:center; font-size: x-large;"/>
                <h:outputText value="desde" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:2em"/>
                <p:calendar value="#{generalDashboardViewBean.startTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                <h:outputText value="hasta" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:2em; padding-right:2em"/>
                <p:calendar value="#{generalDashboardViewBean.endTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                <p:commandButton id="Ajax" value="Submit" update="total, :completeView:issuingGraphic, :completeView:checkingGraphic, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets, :completeView:Filter" action="#{generalDashboardViewBean.onTotal()}" ajax="true"/>
            </h:panelGrid>
            <h:panelGrid style="margin-bottom:10px; width: 100%; text-align-last: end" cellpading="7">
                <h:outputText value="User: #{loginBean.userHeader}" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; margin-right: 50px" />
            </h:panelGrid>
        </h:panelGrid>

        <hr />

        <p:panelGrid columns="2" layout="grid" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
            <p:panel id="issuingGraphic" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <div id="GRAPHIC-ISSUING"/>
                    <h:outputScript>
                        createPie('GRAPHIC-ISSUING', 'Check-in por compañía emisora', #{generalDashboardViewBean.issuingCompanyGraphicDataBean.issuingCompanies.values()}, '#{generalDashboardViewBean.issuingCompanyGraphicDataBean.issuingCompanies.keySet()}', false)
                    </h:outputScript>
                </h:panelGroup>
            </p:panel>
            <p:panel id="checkingGraphic" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <div id="GRAPHIC-CHECKING"/>
                    <h:outputScript>
                        createPie('GRAPHIC-CHECKING', 'Compañía de check-in (y porcentaje de sobordo)', #{generalDashboardViewBean.checkingCompanyGraphicDataBean.checkingCompanies.values()}, '#{generalDashboardViewBean.checkingCompanyGraphicDataBean.checkingCompanies.keySet()}', false)
                    </h:outputScript>
                </h:panelGroup>
            </p:panel>
        </p:panelGrid>

        <p:panelGrid columns="4" layout="grid" style="width: 100%; border-radius: 40px; border-width: 2px; border-color: #5A658D">
            <f:facet name="header">
                <h:outputText value="Desglose de tickets por tipo"/>
            </f:facet>
            <p:panel id="totalTickets" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <div id="GRAPHIC-TOTAL-TICKETS"/>
                    <h:outputScript>
                        createPie('GRAPHIC-TOTAL-TICKETS', '', #{generalDashboardViewBean.totalTicketsDataBean.totalTickets.values()}, '#{generalDashboardViewBean.totalTicketsDataBean.totalTickets.keySet()}', true)
                    </h:outputScript>
                </h:panelGroup>
            </p:panel>
            <p:panel id="passengersTickets" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <div id="GRAPHIC-PASSENGERS"/>
                    <h:outputScript>
                        createPie('GRAPHIC-PASSENGERS', '', #{generalDashboardViewBean.passengersTicketsDataBean.passengersType.values()}, '#{generalDashboardViewBean.passengersTicketsDataBean.passengersType.keySet()}', true)
                    </h:outputScript>
                </h:panelGroup>
            </p:panel>
            <p:panel id="vehiclesTickets" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <div id="GRAPHIC-VEHICLES"/>
                    <h:outputScript>
                        createPie('GRAPHIC-VEHICLES', '', #{generalDashboardViewBean.vehiclesTicketsDataBean.vehiclesType.values()}, '#{generalDashboardViewBean.vehiclesTicketsDataBean.vehiclesType.keySet()}', true)
                    </h:outputScript>
                </h:panelGroup>

            </p:panel>
            <p:panel id="Filter" style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                <h:panelGroup rendered="#{generalDashboardViewBean.totalVehiclesAndPassengers != 0}">
                    <h:panelGrid columns="3" style="width: 100%">
                        <h:outputText value=""/>
                        <h:outputText value="Issuing" style="color: #517DBA"/>
                        <h:outputText value="Checking" style="color: #517DBA"/>

                        <h:graphicImage name="images/aml.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.issuingCompaniesSelected['AML']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.checkingCompaniesSelected['AML']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>

                        <h:graphicImage name="images/balearia.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.issuingCompaniesSelected['BALEARIA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.checkingCompaniesSelected['BALEARIA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>

                        <h:graphicImage name="images/frs.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.issuingCompaniesSelected['FRS']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.checkingCompaniesSelected['FRS']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>

                        <h:graphicImage name="images/intershipping.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.issuingCompaniesSelected['INTERSHIPPING']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.checkingCompaniesSelected['INTERSHIPPING']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>

                        <h:graphicImage name="images/trasmediterranea.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.issuingCompaniesSelected['TRASMEDITERRANEA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.checkingCompaniesSelected['TRASMEDITERRANEA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.filtering()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>

                        <h:outputText value="TODAS" style="display: block; margin: auto; text-align:center;"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.allIssuingFilters}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.activateIssuingFilters()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                        <p:inputSwitch value="#{generalDashboardViewBean.allCheckingFilters}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.activateCheckingFilters()}" update="Filter, :completeView:totalTickets, :completeView:passengersTickets, :completeView:vehiclesTickets"/>
                        </p:inputSwitch>
                    </h:panelGrid>
                </h:panelGroup>
            </p:panel>
        </p:panelGrid>
        <div id="chart"></div>
    </h:form>
</h:body>

</html>
