<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Table View</title>

    <style type="text/css">
    #chart {
      max-width: 650px;
      margin: 35px auto;
    }

    .ui-panelgrid{
        border-collapse: separate;
        border-spacing: 15px;
    }
    td.vesselColumnColor{
        background-color: #D7DBE7;
    }
    td.departureTimeColumnColor{
        background-color: #D7DBE7;
    }
    td.checkingCompanyColumnColor{
        background-color: 	#E6E6E6;
    }
    .ui-datatable * {
     border : 0px !important;
    }
    .ui-datatable table{
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
    }
    .noHeader.ui-datatable table thead tr {
    display: none;
    }

</style>
</h:head>

<h:body>
    <h:form id="tableView">
        <h:panelGrid id="main" columns="2" style="margin-bottom:10px; width: 100%; align: center" cellpading="7">
            <h:panelGrid id="total" columns="5" cellpading="7">
                <h:outputText value="Total tickets desde" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-right:2em"/>
                <p:calendar value="#{generalDashboardViewBean.startTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                <h:outputText value="hasta" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; padding-left:2em; padding-right:2em"/>
                <p:calendar value="#{generalDashboardViewBean.endTime}" pattern="dd/MM/yyyy HH:mm"></p:calendar>
                <p:commandButton id="Ajax" value="Submit" update="total, :tableView:table, :tableView:filters, :tableView:boardingTable" action="#{generalDashboardViewBean.onTotal()}" ajax="true"/>
            </h:panelGrid>
            <h:panelGrid style="margin-bottom:10px; width: 100%; text-align-last: end" cellpading="7">
                <h:outputText value="User: #{loginBean.userHeader}" style="color: #517DBA; font-family: Verdana,Arial,sans-serif; margin-right: 50px" />
            </h:panelGrid>
        </h:panelGrid>

        <hr />

        <p:panelGrid>
            <p:row>
                <p:column style="width: 50%; border-radius: 40px; border-width: 2px; border-color: #5A658D">
                    <h:panelGrid id="table" columns="7" layout="tabular" cellspacing="5px" cellpadding="5px" style="width: 90%">
                        <h:outputText value="check-in\emisora" style="display: block; width:100%; text-align:center; color: #517DBA"/>
                        <h:graphicImage name="images/aml.png" style="display: block; margin: auto"/>
                        <h:graphicImage name="images/balearia.png" style="display: block; margin: auto"/>
                        <h:graphicImage name="images/frs.png" style="display: block; margin: auto"/>
                        <h:graphicImage name="images/intershipping.png" style="display: block; margin: auto"/>
                        <h:graphicImage name="images/trasmediterranea.png" style="display: block; margin: auto"/>
                        <h:outputText value="TOTAL" style="font-weight:bold; display: block; width:100%; text-align:center;"/>

                        <h:graphicImage name="images/aml.png" style="display: block; margin: auto"/>
                        <h:panelGroup style="background-color: #CFCFCF">
                            <div style="background-color: #CFCFCF">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['AML-AML']}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['AML-BALEARIA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['AML-FRS']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['AML-INTERSHIPPING']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['AML-TRASMEDITERRANEA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('AML-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>

                        <h:graphicImage name="images/balearia.png" style="display: block; margin: auto"/>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['BALEARIA-AML']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #CFCFCF">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['BALEARIA-BALEARIA']}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['BALEARIA-FRS']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['BALEARIA-INTERSHIPPING']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['BALEARIA-TRASMEDITERRANEA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('BALEARIA-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>

                        <h:graphicImage name="images/frs.png" style="display: block; margin: auto"/>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['FRS-AML']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['FRS-BALEARIA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #CFCFCF">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['FRS-FRS']}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['FRS-INTERSHIPPING']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['FRS-TRASMEDITERRANEA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('FRS-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>

                        <h:graphicImage name="images/intershipping.png" style="display: block; margin: auto"/>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['INTERSHIPPING-AML']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['INTERSHIPPING-BALEARIA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['INTERSHIPPING-FRS']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #CFCFCF">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['INTERSHIPPING-INTERSHIPPING']}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['INTERSHIPPING-TRASMEDITERRANEA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('INTERSHIPPING-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>

                        <h:graphicImage name="images/trasmediterranea.png" style="display: block; margin: auto"/>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['TRASMEDITERRANEA-AML']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['TRASMEDITERRANEA-BALEARIA']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['TRASMEDITERRANEA-FRS']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #E6E6E6">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['TRASMEDITERRANEA-INTERSHIPPING']}" style="display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #CFCFCF">
                                <h:outputText value="#{generalDashboardViewBean.companiesTable['TRASMEDITERRANEA-TRASMEDITERRANEA']}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('TRASMEDITERRANEA-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>

                        <h:outputText value="TOTAL" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-AML')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-BALEARIA')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-FRS')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-INTERSHIPPING')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div style="background-color: #DEEAF6">
                                <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-TRASMEDITERRANEA')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                            </div>
                        </h:panelGroup>
                        <h:outputText value="#{generalDashboardViewBean.getTotalFromCompany('-')}" style="font-weight:bold; display: block; width:100%; text-align:center;"/>
                    </h:panelGrid>
                </p:column>
                <p:column rowspan="2" style="vertical-align: top; padding-top: 20px; border-radius: 40px; border-width: 2px; border-color: #5A658D">
                    <h:outputText value="Últimos embarques" style="display: block; margin: auto; text-align:center; color: #517DBA"/>
                    <br/>
                    <p:dataTable id="boardingTable" var="boarding" value="#{generalDashboardViewBean.boardings}" rows="10" pageLinks="0" styleClass="noHeader">
                        <p:column styleClass="vesselColumnColor">
                            <h:outputText value="#{boarding.vessel}"/>
                        </p:column>
                        <p:column styleClass="departureTimeColumnColor">
                            <h:outputText value="#{boarding.departureTime}"/>
                        </p:column>
                        <p:column styleClass="checkingCompanyColumnColor">
                            <h:outputText value="#{boarding.newTickets}"/>
                        </p:column>
                        <p:column styleClass="checkingCompanyColumnColor">
                            <h:outputText value="#{boarding.downTickets}"/>
                        </p:column>
                        <p:column styleClass="checkingCompanyColumnColor">
                            <h:outputText value="#{boarding.pendingTickets}"/>
                        </p:column>
                    </p:dataTable>
                </p:column>
            </p:row>
            <p:row>
                <p:column style="border-radius: 40px; border-width: 2px; border-color: #5A658D">
                    <h:panelGrid id="filters" columns="3" layout="grid" style="width: 100%">
                        <h:outputText value="Naviera" style="display: block; margin: auto; text-align:center; color: #517DBA"/>
                        <p:spacer height="0"/>
                        <p:spacer height="0"/>

                        <h:graphicImage name="images/aml.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.companyFilter['AML']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.tableCompanyFilter()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>

                        <h:panelGroup>
                            <h:outputText value="Total embarques cerrados: " style="color: #517DBA"/>
                            <h:outputText value="#{generalDashboardViewBean.totalBoardings.closedNumber}"/>
                        </h:panelGroup>

                        <h:graphicImage name="images/balearia.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.companyFilter['BALEARIA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.tableCompanyFilter()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>

                        <h:panelGroup>
                            <h:outputText value="Total embarques abiertos: " style="color: #517DBA"/>
                            <h:outputText value="#{generalDashboardViewBean.totalBoardings.openedNumber}"/>
                        </h:panelGroup>

                        <h:graphicImage name="images/frs.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.companyFilter['FRS']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.tableCompanyFilter()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>

                        <h:panelGroup>
                            <h:outputText value="Total embarques no informados: " style="color: #517DBA"/>
                            <h:outputText value="#{generalDashboardViewBean.totalBoardings.notReportNumber}"/>
                        </h:panelGroup>

                        <h:graphicImage name="images/intershipping.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.companyFilter['INTERSHIPPING']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.tableCompanyFilter()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>

                        <h:panelGroup>
                            <h:outputText value="Total altas en embarques: " style="color: #517DBA"/>
                            <h:outputText value="#{generalDashboardViewBean.totalBoardings.newTickets}"/>
                        </h:panelGroup>

                        <h:graphicImage name="images/trasmediterranea.png" style="display: block; margin: auto"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.companyFilter['TRASMEDITERRANEA']}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.tableCompanyFilter()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>

                        <h:panelGroup>
                            <h:outputText value="Total bajas en embarques: " style="color: #517DBA"/>
                            <h:outputText value="#{generalDashboardViewBean.totalBoardings.downTickets}"/>
                        </h:panelGroup>

                        <h:outputText value="TODAS" style="display: block; margin: auto; text-align:center;"/>
                        <p:inputSwitch value="#{generalDashboardViewBean.allCompanyFilters}" disabled="#{generalDashboardViewBean.disableFilters}">
                            <p:ajax listener="#{generalDashboardViewBean.activateCompaniesFilters()}" update="filters, :tableView:boardingTable"/>
                        </p:inputSwitch>
                        <p:spacer height="0"/>
                    </h:panelGrid>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</h:body>



</html>