<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>#{messages.label_app} - #{messages.label_app_completo}</title>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <h:outputScript name="js/layout.js" library="ultima-layout" />
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon-96x96.png']}"/>
    </h:head>

    <h:body styleClass="login-body">
    	<h:form prependId="false">
			<h:panelGrid style="margin-top:30px; border-style: solid; border-radius: 40px;
				border-width: 2px; border-color: #5A658D; margin-left: auto; margin-right: auto;
				padding: 15px; padding-top: 20px;">
				<div class="card login-panel ui-fluid">
					<div class="ui-g">
						<p:outputLabel value="Usuario" style="margin-left: 10px"/>
						<h:panelGroup styleClass="md-inputfield">
							<div class="ui-g-12">
								<p:inputText id="username" style="width: 500px"/>
							</div>
						</h:panelGroup>
						<p:outputLabel value="Password" style="margin-left: 10px"/>
						<h:panelGroup styleClass="md-inputfield">
							<div class="ui-g-12">
								<p:password id="password" style="width: 500px"/>
							</div>
						</h:panelGroup>
						<h:panelGroup>
							<div class="ui-g-12" style="text-align: center">
								<p:commandButton id="loginButton" value="Login" ajax="false"/>
							</div>
						</h:panelGroup>

						<p:outputPanel id="growl_container" styleClass="ui-growl ui-widget" aria-live="polite" style="z-index: 1006; text-align: left"
									   rendered="${not empty param.error}">
							<h:outputScript>
								$("#growl_container").effect("shake", { times:1});
							</h:outputScript>
							<div class="ui-growl-item-container ui-state-highlight ui-corner-all ui-helper-hidden ui-shadow ui-growl-error" style="display: block;">
								<div role="alert" class="ui-growl-item">
									<span class="ui-growl-image ui-growl-image-error" />
									<div class="ui-growl-message">
										<span class="ui-growl-title" />
										<p>
											Se ha producido un error al intentar autenticar.
										</p>
									</div>
									<div style="clear: both;" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</h:panelGrid>
	    </h:form>
        
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-apba.css" library="ultima-layout" />
        <h:outputStylesheet library="css" name="custom.css" />
    </h:body>
</html>